@import "tailwindcss";

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1.2s ease-in-out;
}

.perspective {
    perspective: 1000px;
}

.carousel3d {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate3d 20s linear infinite;
}

@keyframes rotate3d {
    0% {
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg);
    }
}

/* index.css */

#drag-container,
#spin-container {
  transform-style: preserve-3d;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spinRevert {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}


.tilt-hover{
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.tilt-hover:hover {
    transform: rotateY(20deg) rotateX(5deg);
}